.footer-menu{
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
}
.footer-menu__icon{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-menu__icon a{
    color: black;
    font-size: 20px;
}
.footer-menu__icon a:first-child{
    margin-left: 20px;
}
/* .footer-menu__icon i:last-child{
    margin-right: 20px;
} */
.footer-menu__icon i span{

}