.footerMenu{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px;
    box-sizing: border-box;
}
.footerMenu__icon{
    background-color: rgb(245, 229, 197);
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerMenu__icon a{
    color: black;
    font-size: 20px;
}
.footerMenu__icon img:hover{
    color: black;
    font-size: 20px;
}
.footerMenu__icon a img{
    width: 50px;
    height: 50px;
}