header{
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-size: 12px;
}
.navigation__column{
    color: rgb(244, 223, 181);
    width: 33%;
}
.navigation__column:nth-child(2){
    display: flex;
    justify-content: center;
}
.navigation__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.settings__column .fa-magnifying-glass{
    margin-right: 15px;
}
.navigation__column:last-child i{
    margin-left: 3px;
}
.settings__column{
    color: #fff;
}
.settings__column a{
    color: #fff;
}
