.header-menu{
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.header-menu__title{
    font-size: 28px;
    color: #fff;
}
.header-menu__icon a{
    font-size: 20px;
    color: #fff;
}
.header-menu__title{
    font-weight: bold;
}
.header-menu__icon a{
    margin-left: 20px;
}